<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">[FileName]</div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="editor-pane-left">
        <app-editor
          [highlightedLines]="srcHighlightedLines"
          (newItemEvent)="test()"
          [content]="source.code"
        ></app-editor>
      </div>
    </div>
    <div class="col-sm-6 editor-pane-right">
      <app-editor
        [highlightedLines]="dstHighlightedLines"
        [content]="dst"
      ></app-editor>
    </div>
  </div>
</div>
