<!-- input block start -->
<div class="row">
  <div class="col-md-6">
    <h3 class="text-muted">Input</h3>
  </div>
  <div class="col-md-6">
    <a
      class="nav-link"
      data-bs-toggle="modal"
      data-bs-target="#outputModal"
      href="#"
    >
      <span class="float-end">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-play"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"
          />
        </svg>
      </span>
    </a>
  </div>
</div>
<div class="bg-light">
  <textarea
  [ngModel]="data"
    (ngModelChange)="inputChanged($event)"
    class="form-control"
    style="min-width: 100%; min-height: 400px"
  >
  let
  function a() = (
  var a:int := 1
  var b:int := 2
  while 1 if a > b then break else a := a + 1
  )
  in
  a()
  end
  </textarea>
</div>
<!-- input block end -->
