.editor {
  min-height: 400px;
  margin-left: 20px;
  outline: none;
  overflow-y: auto;
  padding-left: 48px;
  counter-reset: line;
}

.editor div {
  display: block;
  position: relative;
  white-space: pre-wrap;
}

.editor div:before {
  content: counter(line);
  counter-increment: line;
  position: absolute;
  right: calc(100% + 16px);
  opacity: 0.5;
}

span.paren {
    color: blue;
    font-style: italic;
    font-weight: bold;
}
 
span.brace {
    color: blue;
    font-style: italic;
    font-weight: bold;
}
 
span.special {
    color: blue;
    font-style: italic;
    font-weight: bolder;
}
 
span.keyword {
    font-style: italic;
    font-weight: bold;
}

span.error {
  background-color: pink;
}

.over {
  background-color: aqua;
}

