<div class="row">
  <div class="col-md-6">
    <h3 class="text-muted">Output</h3>
  </div>
  <div class="col-md-6">
    <a
      class="nav-link"
      data-bs-toggle="modal"
      data-bs-target="#outputModal"
      href="#"
    >
      <span class="float-end">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-gear-wide"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 0 0-9.995 4.998 4.998 0 0 0 0 9.996z"
          />
        </svg>
      </span>
    </a>
  </div>
</div>
<div class="">
  <div class="d-flex align-items-start">
    <div
      #tabs
      class="nav flex-column nav-pills me-3"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <a
        class="nav-link"
        [ngClass]="{ 'active':activeTab==='ast'}"
        (click)="setActiveTab('ast')"
        id="ast-tab"
        data-bs-toggle="pill"
        href="#ast"
        role="tab"
        aria-controls="ast"
        aria-selected="true"
        >AST</a
      >
      <a
        class="nav-link"
        [ngClass]="{ 'active':activeTab==='fcg'}"
        (click)="setActiveTab('fcg')"
        id="fcg-tab"
        data-bs-toggle="pill"
        href="#fcg"
        role="tab"
        aria-controls="fcg"
        aria-selected="true"
        >Function Call Graph</a
      >
      <a
        class="nav-link"
        [ngClass]="{ 'active':activeTab==='hir'}"
        (click)="setActiveTab('hir')"
        id="hir-tab"
        data-bs-toggle="pill"
        href="#hir"
        role="tab"
        aria-controls="hir"
        aria-selected="false"
        >HIR</a
      >
      <a
        class="nav-link"
        [ngClass]="{ 'active':activeTab==='lir'}"
        (click)="setActiveTab('lir')"
        id="lir-tab"
        data-bs-toggle="pill"
        href="#lir"
        role="tab"
        aria-controls="lir"
        aria-selected="false"
        >LIR</a
      >
      <a
        class="nav-link"
        [ngClass]="{ 'active':activeTab==='cfg'}"
        (click)="setActiveTab('cfg')"
        id="cfg-tab"
        data-bs-toggle="pill"
        href="#cfg"
        role="tab"
        aria-controls="cfg"
        aria-selected="false"
        >CFG</a
      >
      <a
        class="nav-link"
        [ngClass]="{ 'active':activeTab==='asm'}"
        (click)="setActiveTab('asm')"
        id="asm-tab"
        data-bs-toggle="pill"
        href="#asm"
        role="tab"
        aria-controls="asm"
        aria-selected="false"
        >Assembly</a
      >
    </div>
    <div class="compiler-output tab-content" id="v-pills-tabContent">

      <div
        class="tab-pane fade show active"
        id="ast"
        role="tabpanel"
        aria-labelledby="ast-tab"
      >
        <div class="row">
          <div class="col-md-6">
            <h4>Abstract Syntax Tree</h4>
          </div>
          <div class="col-md-6">
            <a
              class="nav-link"
              data-bs-toggle="modal"
              data-bs-target="#astModal"
              href="#"
            >
              <span class="float-end">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-gear-wide"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 0 0-9.995 4.998 4.998 0 0 0 0 9.996z"
                  />
                </svg>
              </span>
            </a>
          </div>
        </div>
        <pre class="code">
          <div [innerHTML]="ast"></div>
        </pre>
      </div>

      <div
        class="tab-pane fade"
        id="fcg"
        role="tabpanel"
        aria-labelledby="fcg-tab"
      >
        <pre class="code">
        <div [innerHTML]="fcg"></div>
        </pre>
      </div>

      <div
        class="tab-pane fade"
        id="hir"
        role="tabpanel"
        aria-labelledby="hir-tab"
      >

        <pre class="code">
        <div [innerHTML]="hir"></div>
        </pre>
        <ul>
          <li>Execute IR</li>
          <li>Optimisation - Liveness Analysis</li>
          <li>Optimisation - Constant Prop</li>
          <li>Optimisation - Copy Prop</li>
          <li>Optimisation - Expression Elimination</li>
        </ul>
      </div>

      <div
        class="tab-pane fade"
        id="lir"
        role="tabpanel"
        aria-labelledby="lir-tab"
      >

        <pre class="code">
        <div [innerHTML]="lir"></div>
        </pre>
        <ul>
          <li>Execute IR</li>
        </ul>
      </div>

      <div
        class="tab-pane fade"
        id="cfg"
        role="tabpanel"
        aria-labelledby="cfg-tab"
      >

        <pre class="code">
        <div [innerHTML]="cfg"></div>
        </pre>
        <ul>
          <li>Dataflow</li>
        </ul>
      </div>

      <div
        class="tab-pane fade"
        id="asm"
        role="tabpanel"
        aria-labelledby="asm-tab"
      >
        <pre class="code">
        <div [innerHTML]="asm"></div>
        </pre>
        <ul>
          <li>Pick Liveness Source ( Assembly Liveness / IR Liveness )</li>
          <li>Pick Target Arch</li>
          <li>
            Select Register Allocation Strategy ( Conservative / Iterative with
            Worklist / Basic )
          </li>
          <li>Reg Allocation with Coalesce / No Coalesce</li>
          <li>Download Assembly Zip</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- output block end -->
