.source-editor-code {
  min-height: 400px;
  margin-left: 20px;
  outline: none;
  overflow-y: auto;
  padding-left: 48px;
  counter-reset: line;

  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
}

.source-editor-code div {
  background-color: red;;
  display: block;
  position: relative;
  white-space: pre-wrap;
}

.source-editor-code  div:before {
  content: counter(line);
  counter-increment: line;
  position: absolute;
  right: calc(100% + 16px);
  opacity: 0.5;
}
