<button
  (click)="showMenu = !showMenu"
  [disabled]="false"
  type="button"
  class="btn btn-secondary"
>
  Open
</button>
<div *ngIf="showMenu">List of example files.</div>

<div class="input-group">
  <input
    type="text"
    class="form-control"
    placeholder="Untitled"
    aria-label="File Name"
    aria-describedby="basic-addon1"
    [(ngModel)]="source.name"
  />
</div>
<div *ngIf="showDescription" class="input-group">
  <textarea
    class="form-control"
    aria-label="With textarea"
    [(ngModel)]="source.description"
  ></textarea>
</div>
<button
  (click)="showDescription = !showDescription"
  [disabled]="false"
  type="button"
  class="btn btn-secondary"
>
  Edit Description
</button>
<hr />
<button
  [disabled]="true"
  (click)="clean()"
  type="button"
  class="btn btn-secondary"
>
  Clean
</button>
<button
  [disabled]="true"
  (click)="new()"
  type="button"
  class="btn btn-secondary"
>
  New
</button>
<button
  [disabled]="!!error.items.length"
  (click)="save()"
  type="button"
  class="btn btn-primary"
>
  Save
</button>
<button (click)="deleteConfirm()" type="button" class="btn btn-danger">
  Delete
</button>

<div
  #sourceEditorCode
  (paste)="onPaste($event)"
  (keypress)="onChange($event)"
  (keydown)="onKeyDown($event)"
  (keyup)="onKeyUp($event)"
  class="source-editor-code"
  contenteditable
></div>

<!-- Displays errors that were found the source code -->
<div>
  <div>
    <button
      (click)="showErrors = !showErrors"
      *ngIf="error.items.length > 0"
      type="button"
      class="btn btn-danger"
    >
      Errors
      <span class="badge rounded-pill bg-secondary">{{
        error.items?.length
      }}</span>
      <span class="visually-hidden">Compiler Errors</span>
    </button>
  </div>
  <div *ngIf="error.items.length > 0 && showErrors">
    <div *ngFor="let error of error.items" class="error">
      {{ error.name }} {{ error.line }}
    </div>
  </div>
</div>
